/* Variables */
:root{
    /* Colors */ 
    --primary-color : #3B1E5B;
    --secondary-color : ;
    --text-primary-color : white;
    --text-secondary-color : ;
    --background: ;
    --button : ;
    /* Sizes */

}

/* Reset CSS */ 
*{
    box-sizing: border-box;
    scroll-behavior: smooth
}

/* Scrollbar styles for Webkit browsers */
::-webkit-scrollbar{width: 0}

/* Text selection highlight */
::selection{
    color: var();
    background-color: var()
}

/* Full body style */
body{
    font-family: ;
}

/* Uniform length for all sections */
header,section,footer{height: 100vh}